<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
	            <i class="fas fa-bars" style="color: grey"></i>
	        </span>
    <a href="#" class="logo">Akash Meshram</a>
    <ul class="main-nav" id="js-menu">
        {% for item in site.data.navigation %}
        <li>
            <a class="nav-links" href="{{ site.url }}{{ item.link }}" {% if page.url == item.link %}style="color: rgb(255, 132, 0);"{% endif %}>
				      {{ item.name }}
				    </a>
        </li>
        {% endfor %}
    </ul>
</nav>