<nav>
    <a href="/" class="logo">Akash Meshram</a>

    <span id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
   
    <ul id="js-menu">
        {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.link }}" 
                    {% if page.url == item.link %}
                        style="color: rgb(255, 132, 0);" 
                    {% endif %}
                >
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>