/* ****************************************************************************

   * AUTHOR : AKASH MESHRAM
   * DISCRIPTION : THIS FILE IS A STYLE SHEET WRITTEN FOR MY WEBSITE
   * WEBSITE : AKASHMESHRAM.GITHUB.IO/WEBSITE

   ************************************************************************** */

/* =============================================================================
   GLOBAL STYLING
   ========================================================================== */

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

html {
  width: auto;
  height: auto;
  background: rgb(253, 253, 253);
  font-family: "Century Gothic", "Cen Got", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  width: auto;
  height: auto;
  background: rgb(253, 253, 253);
  font-family: "Century Gothic", "Cen Got", sans-serif;
  -webkit-font-smoothing: antialiased;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

@keyframes loadimg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@font-face {
  font-family: "Cen Got";
  src: url("../fonts/Century Gothic.ttf");
}


.parent {
  display: flex;
}

/* =============================================================================
   HEADER AND NAVIGATION
   ========================================================================== */

header {
  flex-direction: column;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  h1 {
    font-weight: normal;
    text-align: center;
    font-size: 54px;
    letter-spacing: 6px;
    line-height: 65.88px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: none;
  }
}

.navbar {
  background-color: rgba(244, 244, 244, 0.9);
  border-bottom: rgb(54, 14, 54) solid 1px;
  padding-bottom: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 21.96px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links, .logo {
  color: rgb(100, 100, 100);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  header {
    position: static;
    h1 {
      display: block;
    }
  }
  .navbar {
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 0;
    align-items: center;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
      margin: 0;
    }
  }
  .nav-links {
    margin: auto 10px;
  }
  .logo, .navbar-toggle {
    display: none;
  }
  .logo:hover, .nav-links:hover {
    color: rgb(255, 132, 0);
  }
}

/* =============================================================================
   INTRO PAGE
   ========================================================================== */

.intro-page {
  flex-direction: column;
  img {
    height: auto;
    width: auto;
    margin: 0px 10px;
    margin-top: 60px;
    animation: loadimg 2s ease 1;
  }
  div {
    margin: 30px auto;
    text-align: center;
    font-size: 23px;
    line-height: 28.06px;
    letter-spacing: normal;
    font-weight: 400;
  }
  a {
    color: rgb(255, 132, 0);
    &:hover {
      color: rgb(0, 0, 0);
    }
  }
}

@media screen and (min-width: 768px) {
  .intro-page img {
    height: auto;
    width: 540px;
    margin: 0px auto;
    margin-top: 60px;
  }
}

/* =============================================================================
   ABOUT PAGE
   ========================================================================== */

.About-page {
  flex-direction: column;
  margin-top: 45px;
  img {
    height: auto;
    width: auto;
    margin: auto 10px;
    animation: loadimg 2s ease 1;
  }
  div {
    padding: 15px 40px 0px 40px;
    width: auto;
  }
  p {
    line-height: 24px;
    font-family: arial, "sans serif";
    font-size: 13px;
    color: rgb(71, 71, 71);
    letter-spacing: 0.25px;
    text-align: justify;
    padding-bottom: 20px;
    /*border-bottom: 2px solid rgb(204,204,204);*/
  }
}

@media screen and (min-width: 768px) {
  .About-page {
    flex-direction: row;
    margin: 45px 200px 0px 200px;
    margin-top: 45px;
    p {
      line-height: 30px;
    }
    img {
      height: 280.8px;
      width: 374.4px;
      margin: auto 10px;
      animation: loadimg 2s ease 1;
    }
  }
}

/* =============================================================================
   WORK SECTION
   ========================================================================== */

.Work-page {
  margin-top: 23.5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    margin: 21.5px 43.5px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(210, 210, 210);
    &:hover {
      transform: scale(1.01);
    }
  }
  img {
    width: inherit;
    height: 200px;
    background-color: grey;
    animation: loadimg 1s ease 1;
  }
  #child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Century Gothic";
    margin: 10px 2px;
  }
  h2 {
    font-family: "Century Gothic";
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #ff8400;
  }
  p {
    font-family: "arial", "sans serif";
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
  }
}

@media screen and (min-width: 768px) {
  .Work-page {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px 150px 0px 150px;
    a {
      width: 375px;
      height: auto;
      margin: 21.5px;
    }
    img {
      height: 250px;
    }
  }
}

/* =============================================================================
   CONNECT SECTION
   ========================================================================== */

.Connect-page {
  margin-top: 45px;
  flex-direction: column;
  color: rgb(102, 102, 102);
  font-size: 15.5px;
  letter-spacing: 0.5px;
  font-weight: 200;
  line-height: 23px;
}

form {
  margin: 0px 40px;
  flex: 1;
  div {
    margin: 13px 0px;
    display: flex;
    flex-direction: column;
  }
  input {
    width: 100%;
    height: 36px;
    background-color: rgb(251, 251, 251);
    border: 2px solid rgb(211, 211, 211);
    border-radius: 4px;
  }
  textarea {
    width: 100%;
    height: 36px;
    background-color: rgb(251, 251, 251);
    border: 2px solid rgb(211, 211, 211);
    border-radius: 4px;
    height: 92px;
    resize: none;
  }
  input[type=submit] {
    width: 100px;
    height: 36px;
    margin: 20px auto;
    color: rgb(255, 255, 255);
    background-color: rgb(107, 107, 107);
    border: 1px solid rgb(107, 107, 107);
    border-radius: 2px;
    &:hover {
      cursor: pointer;
      background-color: rgb(140, 140, 140);
      font-size: 16px;
    }
  }
}

.Address {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.primary {
  text-align: center;
}

.secondary {
  display: flex;
  justify-content: center;
  i {
    margin: 10px 20px;
    font-size: 26px;
    &:hover {
      color: rgb(255, 132, 0);
    }
  }
}

@media screen and (min-width: 768px) {
  .Connect-page {
    flex-direction: row;
    margin: 45px 300px;
  }
  .Address {
    margin-top: 80px;
  }
}

/* =============================================================================
   BLOG SECTION
   ========================================================================== */

.Blog-page {
  margin-top: 10.5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 26.84px;
    text-transform: uppercase;
    color: rgb(70, 70, 70);
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    margin: 21.5px 43.5px;
    align-items: center;
    justify-content: center;
  }
  li {
    padding: 20px 20px;
  }
  h2 {
    font-weight: 400;
    font-size: 15.5px;
    letter-spacing: 0.5px;
    line-height: 23px;
    text-transform: uppercase;
    color: rgb(255, 132, 0);
  }
  p {
    font-family: "arial", "sans serif";
    color: rgb(70, 70, 70);
    font-size: 14px;
    letter-spacing: 0.24px;
    line-height: 24px;
    text-align: justify;
    transition: transform .2s ease;
  }
  li:hover {
    background-color: rgba(255, 132, 0, 0.1);
  }
}

@media screen and (min-width: 768px) {
  .Blog-page {
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 200px 0px 200px;
    ul {
      width: 700px;
    }
  }
}

/* =============================================================================
   POST SECTION
   ========================================================================== */

.Post-page {
  margin-top: 23.5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 26.84px;
    text-transform: uppercase;
    color: rgb(255, 132, 0);
  }
  p {
    color: rgb(70, 70, 70);
    font-family: "arial", "sans serif";
    font-size: 14px;
    letter-spacing: 0.24px;
    line-height: 24px;
    text-align: justify;
    width: 350px;
    padding: 10px 0px;
  }
  img {
    width: 350px;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .Post-page {
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px 200px 0px 200px;
    p {
      line-height: 30px;
      width: 700px;
    }
    img {
      width: 700px;
      height: auto;
    }
  }
}

/* =============================================================================
   WORK-ITEM SECTION
   ========================================================================== */

.Work-item {
  margin-top: 23.5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h2 {
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 26.84px;
    text-transform: uppercase;
    color: rgb(255, 132, 0);
  }
  #link {
    display: flex;
    flex-direction: row;
    margin: 3px;
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
    color: rgb(170, 170, 170);
    text-align: center;
    padding: 20px 6px;
  }
  a {
    font-family: arial;
    letter-spacing: 2px;
    color: rgb(70, 70, 70);
    background-color: rgb(245, 245, 245);
    margin: 15px 35px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 1px;
    padding: 4px 6px;
  }
  img {
    width: 350px;
    height: auto;
  }
  p {
    color: rgb(70, 70, 70);
    font-family: "arial", "sans serif";
    font-size: 14px;
    letter-spacing: 0.24px;
    line-height: 24px;
    text-align: justify;
    width: 350px;
    padding: 10px 10px;
  }
}

@media screen and (min-width: 768px) {
  .Work-item {
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px 200px 0px 200px;
    img {
      width: 700px;
      margin-top: 40px;
    }
    p {
      line-height: 30px;
      width: 700px;
    }
  }
}
